<div class="container px-4">
    <div class="jumbotron px-4">
        <div class="row">
            <div class="col pt-4 mt-4">
                <h1 class="display-1">Connect</h1>
                <h1 class="display-1 italic"> WITH ME</h1>
                <hr>
            </div>
        </div>
        <div class="row">
                <div class="col-6">
                <ul class="list-group lead">
                    <li class="list-group-item"> > <i class="fa-brands fa-instagram"></i>&nbsp;<a
                            href="https://www.instagram.com/_alishadutt/">_alishadutt</a></li>
                    <li class="list-group-item"> > <i class="fa-regular fa-envelope"></i>&nbsp;<a
                            href="mailto:Lishaadutt@gmail.com">Lishaadutt@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>