<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col pt-4 mt-4">
                <h1 class="display-1">I'm</h1>
                <h1 class="display-1 italic"> YASHSVI</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead text-capitalize"> A Web & Graphic Designer </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
               <p> <a class="text-underline" href="profile"> Let's Begin the Journey</a></p>
            </div>
        </div>
    </div>
</div>