<div class="container px-4 bg-custom">
    <div class="jumbotron px-4">
        <div class="row">
            <div class="col pt-4 mt-4">
                <h1 class="display-1">I'm</h1>
                <h1 class="display-1 italic"> YASHSVI</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead text-capitalize"> A Web & Graphic Designer</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 pb-3">
                <div class="img img-1"></div>
            </div>
            <div class="col-6 pb-3">
                <p class="lead display-4"> Who am I?</p>
                <p> I am a Graphic and Web Designer based in Ontario. I am 19 years old and pursuing Interactive Media Design Web at Georgian College. I have a hobby of Photography and creating Designs. My specializations include visual design and web design.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 pb-3">
                <h3 class="display-4">As An Artist</h3>
                <p> My goal is to help every brand come alive through design. In today's highly digital space, it's important for online businesses to establish their presence as they would traditionally do in a retail space. </p>
            </div>
            <div class="col-6 pb-3">
                <div class="img artist"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 pb-3">
                <div class="img inspiration"></div>
            </div>
            <div class="col-6 pb-3">
                <h3 class="lead display-4"> My Inspiration?</h3>
                <p> I've been looking closely at what I've been creating lately as I experiment with a number of different colors, designs, moodboards etc. The process requires some soul-searching to answer the question, “Why do I choose the subjects that I do? What is it I want to say?”</p>
                <p>I want to be more intentional about the link between what I create and the natural world. It's where I draw my inspiration from. So the answer didn't quite satisfy because it's easy to say “I'm inspired by nature” but really, why does it call to me? </p>
            </div>
        </div>

        <div class="row">
            <div class="col-5 pb-3">
                <h3 class="display-4">Why Nature?</h3>
                <p>This past year has been disorienting, disheartening and at times, just plain bleak. But Nature is always there, reminding me of the familiarity of the everyday. Flowers, bees, the tides and the breeze on my face. It has always been my safe place, even as a child. It grounds me and refreshes my spirit. </p>
            </div>
            <div class="col-7 pb-3">
                <div class="img nature"></div>
            </div>
        </div>
    </div>
</div>