<div class="container px-4 bg-custom-moodboard">
    <div class="jumbotron px-4">
        <div class="row">
            <div class="col pt-4 mt-4">
                <h1 class="display-1">Our</h1>
                <h1 class="display-1 italic"> PROJECTS</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead text-capitalize"> Mood Boards</p>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-6">
                <div class="moodboard img-2"></div>
            </div>
            <div class="col-6">
                <div class="moodboard img-4"></div>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-6">
                <div class="moodboard img-3"></div>
            </div>
            <div class="col-6">
                <div class="moodboard img-5"></div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col">
                <p class="lead text-capitalize pt-4"> Websites</p>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-9">
                <a href="https://yashsvinxpro.wixsite.com/my-site"><div class="website web-1"></div></a>
            </div>
            <div class="col-3">
                <a href="https://yashsvinxpro.wixsite.com/my-site"><div class="website web-2"></div></a>
            </div>
        </div>

    </div>
</div>