<nav class="navbar navbar-expand-lg navbar pt-2 pb-0 mb-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-crop"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" id="Home" aria-current="page" href="#"><i class="fa-solid fa-house"></i>  Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Profile" aria-current="page" href="#"><i class="fa-regular fa-user"></i> Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Projects" aria-current="page" href="#"><i class="fa-solid fa-share-nodes"></i> Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Services" aria-current="page" href="#"><i class="fa-solid fa-hand-holding-hand"></i>  Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Contact" aria-current="page" href="#"><i class="fa-solid fa-share-nodes"></i> Contact</a>
          </li>
      </div>
    </div>
  </nav>
  <hr>